<div class="search-box">
  <input
    type="search"
    class="search-input"
    oninput="onSearchInput(this)"
    placeholder="{{ include.placeholder | default: 'Search items on this page' | xml_escape }}"
    aria-label="{{ include.label | default: 'Search items on this page' | xml_escape }}"
  />
  <button
    disabled
    data-tooltip="Clear search"
    aria-label="clear search"
    onclick="onSearchClear()"
  >
    {% include icon.html icon="fa-solid fa-magnifying-glass" %}
  </button>
</div>
